<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.phonegap.plugins.revmob"
	version="1.0.0">

	<name>RevMob</name>

	<asset src="www/revmob.js" target="revmob.js" />

	<engines>
      <engine name="cordova" version=">=2.9.0" />
    </engines>
	
	<js-module src="www/revmob.js" name="RevMob">
        <clobbers target="RevMob" />
    </js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="RevMobPlugin">
				<param name="android-package" value="com.revmob.cordova.RevMobPlugin"/>
			</feature>
		</config-file>

		<source-file src="src/android/revmob-android-wrapper.jar" target-dir="libs" />
	</platform>

	<!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
		    <feature name="RevMobPlugin">
			    <param name="ios-package" value="RevMobPlugin"/>
		    </feature>
        </config-file>

	    <header-file src="src/ios/RevMobPlugin.h" />
	    <source-file src="src/ios/librevmob-ios-wrapper.a" framework="true" />
	    
	    <framework src="AdSupport.framework" />
	    <framework src="StoreKit.framework" />
    </platform>
</plugin>

